.skills-main-div {
  display: flex;
  overflow: hidden;
  margin-bottom: 50px; /* Increased spacing between each skill section */
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 20px;
  margin-bottom: 10px; /* Space below each skill description */
}

.skills-text-div {
  margin-left: 50px;
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 50px; /* Adjusted top margin for better visual separation */
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
  margin-bottom: 20px; /* Space below the heading */
}

.skills-subheading {
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 10px; /* Space below the subheading */
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 20px; /* Reduced top margin for images on mobile */
  }
}

.skills-category {
  margin-bottom: 60px; /* Increased space between categories */
}

.skills-category-title {
  margin-bottom: 30px; /* Increased space between category title and its content */
}

.skills-subcategory {
  margin-bottom: 30px; /* Increased space between subcategories */
}

/* Adjustments for mobile views */
@media (max-width: 768px) {
  .skills-category {
    margin-bottom: 45px; /* Smaller space between categories for mobile */
  }

  .skills-category-title {
    margin-bottom: 22px; /* Smaller space between category title and its content for mobile */
  }

  .skills-subcategory {
    margin-bottom: 22px; /* Smaller space between subcategories for mobile */
  }
}
