.dev-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.software-skill-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-family: "Google Sans Regular";
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}

.skill-image {
  height: 40px;
}

@media (max-width: 768px) {
  .dev-icons {
    font-size: 2rem;
  }

  .software-skill-inline {
    margin: 8px;
  }

  .skill-image {
    height: 32px;
  }
}
