.experience-accord {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.experience-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.experience-details-container {
  margin-top: 30px;
  animation: fadeIn 0.5s ease-in-out;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.experience-details-container.collapsed {
  max-height: 0;
}

.experience-details-container.expanded {
  max-height: 1000px; /* Adjust this value based on your content */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.experience-section-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.experience-section-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.experience-section-card.active {
  background-color: #e0e0e0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  z-index: 1;
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}
