.experience-accord {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.experience-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.experience-details-container {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}
