.experience-accord {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.experience-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.experience-details-container {
  margin-top: 30px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}
.main-project-card, .side-project-card {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-project-image, .side-project-image {
  flex: 1;
  margin-right: 20px;
}

.main-project-image img, .side-project-image img {
  width: 100%;
  border-radius: 5px;
}

.main-project-details, .side-project-details {
  flex: 2;
}

.main-project-footer, .side-project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.main-project-tech, .side-project-tech {
  font-size: 14px;
}

.main-project-footer a, .side-project-footer a {
  color: #0366d6;
  text-decoration: none;
}
