.main-project-card {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.main-project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .main-project-card {
    flex-direction: column;
    padding: 1rem;
  }
}

.main-project-image {
  flex: 1;
  margin-right: 20px;
}

.main-project-image img {
  width: 100%;
  border-radius: 5px;
}

.main-project-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-project-title {
  margin-bottom: 20px;
}

.main-project-description {
  margin-bottom: 20px;
}

.main-project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.main-project-tech {
  font-size: 14px;
}

@media (max-width: 768px) {
  .main-project-card {
    flex-direction: column;
  }

  .main-project-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
